################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/db2.AssemblyInfo.cs
/obj/Debug/net8.0/db2.AssemblyInfoInputs.cache
/obj/Debug/net8.0/db2.assets.cache
/obj/Debug/net8.0/db2.GeneratedMSBuildEditorConfig.editorconfig
/webclinic/bin/Debug/net8.0/webclinic.dll
/webclinic/bin/Debug/net8.0/webclinic.exe
/webclinic/bin/Debug/net8.0/webclinic.pdb
/webclinic/bin/Debug/net8.0/webclinic.staticwebassets.runtime.json
/webclinic/obj/Debug/net8.0/ref/webclinic.dll
/webclinic/obj/Debug/net8.0/refint/webclinic.dll
/webclinic/obj/Debug/net8.0/apphost.exe
/webclinic/obj/Debug/net8.0/staticwebassets.build.json
/webclinic/obj/Debug/net8.0/staticwebassets.development.json
/webclinic/obj/Debug/net8.0/webclinic.AssemblyInfo.cs
/webclinic/obj/Debug/net8.0/webclinic.AssemblyInfoInputs.cache
/webclinic/obj/Debug/net8.0/webclinic.assets.cache
/webclinic/obj/Debug/net8.0/webclinic.dll
/webclinic/obj/Debug/net8.0/webclinic.GeneratedMSBuildEditorConfig.editorconfig
/webclinic/obj/Debug/net8.0/webclinic.genruntimeconfig.cache
/webclinic/obj/Debug/net8.0/webclinic.pdb
/webclinic/obj/Debug/net8.0/webclinic.sourcelink.json
